@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  scroll-behavior: smooth;
}

:root {
  /* ======================== fontsize ======================== */
  --fs-sm: 14px;
  --fs-md: 20px;
  --fs-lg: 30px;
  --fs-1lg: 32px;
  /* ======================== lineheight ======================== */
  --lh-24: normal;
  --lh-76: 55.8px;
  --lh-70: 45.4px;
  --lh-57: 38.6px;
  --lh-25: 25.2px;
}
input
,textarea{
  outline: none !important;
}
.ff-exo {
  font-family: "Exo 2", sans-serif;
}
.ff-outfit {
  font-family: "Outfit", sans-serif;
}
.fs-sm {
  font-size: var(--fs-sm) !important;
}
.fs-md {
  font-size: var(--fs-md) !important;
}
.fs-lg {
  font-size: var(--fs-lg) !important;
}
.fs-1lg {
  font-size: var(--fs-1lg) !important;
}
.lh-76 {
  line-height: var(--lh-76);
}
.lh-70 {
  line-height: var(--lh-70);
}
.lh-57 {
  line-height: var(--lh-57) !important;
}
.lh-25 {
  line-height: var(--lh-25);
}
.lh-24 {
  line-height: var(--lh-24);
}
  /* ======================== fontsize ======================== */
  .loaderimg{
    max-width: 300px;
    max-height: 150px;
    animation: loader 1s linear alternate infinite;
  }
  @keyframes loader {
    0%{
      transform:  translateY(-20px);
      opacity: .7;
    }
    100%{
      transform:  translateY(0px);
      opacity: 1;
    }
  }
  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .loader div:nth-child(1) {
    left: 8px;
    animation: flip1 0.6s infinite;
  }
  
  .loader div:nth-child(2) {
    left: 8px;
    animation: flip2 0.6s infinite;
  }
  
  .loader div:nth-child(3) {
    left: 32px;
    animation: flip2 0.6s infinite;
  }
  
  .loader div:nth-child(4) {
    left: 56px;
    animation: flip3 0.6s infinite;
  }
  
  @keyframes flip1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes flip3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes flip2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }
  .page-linear-purple{
  background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
  }
  .backtotop {
    width: 45px;
    height: 45px;
    border: unset;
    border-radius: 50%;
    background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
    cursor: pointer;
  }
  .backtotopposition{
    right: 20px;
    bottom: 10px;
  }
/* ======================== color ======================== */
.page-black {
  color: #131200;
}
.page-purple {
  color: #9960ed;
}
.page-bg-purple {
  background-color: #9960ed;
}
.page-white {
  color: #fdfdff;
}
/* ======================== gap margin padding ======================== */
.gap-6 {
  gap: 6px;
}
.section-between-padding {
  padding-top: 50px;
}
.s2-btn-mt {
  margin-top: 15px;
}
.mt-11 {
  margin-top: 11px;
}
.gap-11 {
  gap: 8px;
}
/* ======================== opacity ======================== */
.opacity-70 {
  opacity: 70%;
}

.commonbtn {
  padding: 10px 16px;
  position: relative;
  color: #fdfdff;
  overflow: hidden;
  z-index: 0;
  border-radius: 4px;
  background: linear-gradient(130.88deg,  #4f91fc -9.14%,  #a854e9 283.16%);
}
.commonbtn::after {
  position: absolute;
  content: "";
  background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
transform: translateX(0);
  transition: all 300ms linear;
  opacity: 1;
}
.commonbtn:hover::after{
transform: translateX(-100%);
opacity: 0;
}

/* ======================== navbar ======================== */

.pagelinks {
  transition: all 300ms linear;
}
.pagelinks:hover {
  opacity: 100%;
}
.navimg {
  max-width: 221px;
  max-height: 38px;
}
.cursor-pointer {
  cursor: pointer;
}
.z-20{
  z-index: 20;
}

/* ======================== herosection ======================== */

.herobg {
  background-image: url(./assets/images/herobg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================== aboutus ======================== */

.s2-img-card {
  max-width: 400px;
  max-height: 567px;
  border-top-right-radius: 50px;
  transition: all 300ms linear;
}
.s2-img {
  border-top-right-radius: 50px;
  transition: all 300ms linear;
}
.s2-img-card:hover .s2-img{
  transform: scale(1.1);
}
.max-w-521 {
  max-width: 521px;
}
.max-w-491 {
  max-width: 491px;
}
/* ======================== aboutus ======================== */

.slider-card {
  background: #fdfdff0d;
  border: 1px solid #a854e9;
  max-width: 364px;
  min-height: 180px;
  padding: 18px;
  border-radius: 18px;
}

.slider-cricle1 {
  height: 36px;
  width: 36px !important;
  border: 4px solid #f5ebfc;
  border-radius: 50%;
  color: #9562ee;
  font-size: var(--fs-md);
}
.slider-para {
  max-width: 297px;
}
.centered-card {
  border: 1px solid #a854e9 !important;
  position: relative;
}

.centered-card .d_NONE {
  display: block !important;
}

.slick-dots {
  display: flex !important;
  gap: 4px;
  justify-content: center;
  bottom: -10px !important;
}

.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  background-color: #ebd8fa !important;
  margin: 0 !important;
}

.slick-dots li button:before {
  content: unset !important;
}

.slick-dots li.slick-active {
  background: #a854e9 !important;
  width: 28px !important;
  height: 8px !important;
  border-radius: 18px;
}

.slider-mt {
  margin-top: 20px;
}
.slider-bigimg {
  border-radius: 24px;
  transition: all 300ms linear;
}
.sliderimg-card:hover .slider-bigimg {
  transform: scale(1.1);
}
.sliderimg-card {
  width: 100%;
  height: 250px;
  border-radius: 24px;
  margin-top: 30px;
}

/* ======================== form ======================== */

.input-box {
  height: 48px;
  border: 1px solid #13120033;
  border-radius: 8px;
  margin-top: 5px;
  max-width: unset;
}
.input-box2 {
  height: 48px;
  border: 1px solid #13120033;
  border-radius: 8px;
  margin-top: 5px;
}
.input-box3 {
  height: 135px;
  border: 1px solid #13120033;
  border-radius: 8px;
  margin-top: 5px;
  resize: none;
}
.max-w-478 {
  max-width: 478px;
}
.contactus-img {
  border-radius: 12px;
  transition: all 300ms linear;
}
.contactus-imgcard:hover .contactus-img{
  transform: scale(1.1);
}
.contactus-imgcard {
  max-width: 400px;
  max-height: 350px;
  height: 100%;
  border-radius: 12px;
  transition: all 300ms linear;
}
.modal_box{
  backdrop-filter: blur(40px);
  z-index: 21;
}
.submitbox{
  background: linear-gradient(130.88deg, #a854e9 -9.14%, #4f91fc 283.16%);
max-width: 450px;
max-height: 300px;
border-radius: 20px;
}
.modalsvg{
  right: 10px;
  top: 10px;
  cursor: pointer;
}
/* ======================== faq ======================== */
.accordion {
  max-width: 774px;
}
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #a854e933;
  box-shadow: 0px 4px 32px 0px #00000014;
}
.accordion-button {
  padding: 0 !important;
}
.accordion-item:has(> div.show){
  border: 1px solid #A854E9;
  box-shadow: 0px 4px 32px 0px #00000014, 0 5px 0 #a854e9;
}
.accordion-body {
  max-width: 680px;
  padding: 12px 0 0 0 !important;
}
.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
}
.accordion-button:focus {
  box-shadow: unset !important;
}

.accordion-button::after {
  background-image: url(./assets/images/faqarrow.webp) !important;
  width: 20px !important;
  height: 20px !important;
}
.newsletter {
  background-image: url(./assets/images/NWSLATTERbg.webp);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
  width: 100%;
  border-radius: 20px;
  transform: translateY(80px);
}
.emailbox {
  max-width: 448px;
  padding: 10px 10px 10px 24px;
  border: 1px solid #fdfdff33;
  background: #ffffff0d;
  border-radius: 6px;
  margin-top: 20px;
}
.mtminus2{
  margin-top: -2px;
}
.email{
  outline: unset;
}
::placeholder{
  font-family: "Outfit", sans-serif;
font-weight: 600;
font-size: var(--fs-sm);
color: #FDFDFF;
}
.emailbtn{
  border: 1px solid #FDFDFF;
  padding: 10px 16px;
  border-radius: 4px;
overflow: hidden;
width: 100%;
max-width: 98px;
z-index: 0;
transition: all 300ms linear;
}
.emailbtn::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(130.88deg,  #4f91fc -9.14%,  #a854e9 283.16%);
z-index: -1;
opacity: 0;
transition: all 300ms linear;
transform: translateX(-100%);
}
.emailbtn:hover{
  border: 1px solid transparent;
}
.emailbtn:hover::after{
  opacity: 1;
  transform: translateX(0);
}
.footerbg{
  background-image: url(./assets/images/footerbg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 138px;
}
.footerlogo{
  max-width: 241px;
  max-height: 42px;
}
.footerline{
  height: 1px; 
  width: 100%;
  background: #FFFFFF4D;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 1 !important;
}
.footer-btm-para{
  font-size: 14px;
  padding: 10px 0 20px 0;
}
.svgwidth{
  width: 80%;
}

.footerlinks::after{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  border-radius: 20px;
  left: 50%;
  bottom: -1px;
  background-color: #ebd8fa;
  transition: all 300ms linear;
  cursor: pointer;
}
.footerlinks:hover::after{
  width: 100%;
  left: 0;
}
.footericon{
  transition: all 300ms linear;
}
.footericon:hover{
  transform: translateY(-7px ) scale(.9);
}
/* ======================== ELLIPSE ======================== */
.elipse-size{
  width: 50.97px;
  height: 60.49px;
  animation:  elipse 4s alternate linear infinite;
}
@keyframes elipse {
  0%{
transform: rotate(10deg);
opacity: 7;
  }
  50%{
transform: rotate(-10deg);
opacity: 5;
  }
  0%{
transform: rotate(0deg);
opacity: 1;
  }
}
.elipse1{
  left: 7%;
  bottom: -10%;
}
.elipse2{
  right: 7%;
  bottom: 10%;
}
.elipse3{
  left: 3%;
  top: 16%;
}
.elipse4{
  right: 0%;
  bottom: 5%;
}
.elipse5{
  left: 3%;
  top: 10%;
}
.elipse6{
  left: 3%;
  bottom: 20%;
}
.elipse7{
  right: 3%;
  top: 47%;
  z-index: -1;
}
/* ======================== BREAKPOINT ======================== */

@media (min-width: 375px) {
  :root {
    /* ======================== fontsize ======================== */
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 35px;
    --fs-1lg: 38px;
    /* ======================== lineheight ======================== */
    --lh-76: 55.8px;
    --lh-70: 50.4px;
    --lh-57: 40.6px;
    --lh-25: 25.2px;
  }
}
@media (min-width: 420px) {
  :root {
    /* ======================== fontsize ======================== */
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 37px;
    --fs-1lg: 42px;
    /* ======================== lineheight ======================== */
    --lh-76: 60.8px;
    --lh-70: 55.4px;
    --lh-57: 47.6px;
    --lh-25: 25.2px;
  }
  .loaderimg{
    max-width: 400px;
    max-height: 250px;
  }
  .sliderimg-card {
    height: 350px;
    margin-top: 30px;
  }
}
@media (min-width: 450px) {
  .slider-card {
    border: 1px solid #a854e933;
  }
}
@media (min-width: 576px) {
  .d_NONE {
    display: none !important;
  }
  .emailbtn{
    max-width: 119px;
  }
  .footer-btm-para{
    font-size: 14px;
    padding: 16px 0 35px 0;
  }
  .svgwidth{
    width: 100%;
  }
  .footerline{
    margin-top: 52px;
  }
  .commonbtn {
    padding: 14px 24px;
  }
  .slider-mt {
    margin-top: 51px;
  }
  .emailbox {
    margin-top: 36px;
  }
  .emailbtn{
    padding: 14px 24px;
  }
  .newsletter {
    padding: 60px 0;
  }
  .contactus-imgcard {
    max-width: 598px;
    max-height: 572px;
  }
  .accordion-item {
    margin-bottom: 19px;
  }
  .slick-dots {
    bottom: -20px !important;
  }
  .gap-11 {
    gap:11px;
  }
  .section-between-padding {
    padding-top: 100px;
  }
  .s2-img-card {
    max-width: 544px;
  }  
  .s2-btn-mt {
    margin-top: 42px;
  }
  .slider-card {
    min-height: 208px;
  }
  .elipse-size{
    width: 70.97px;
    height: 95.49px;
  }
  .input-box {
    max-width: 233px;
  }
  :root {
    /* ======================== fontsize ======================== */
    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 48px;
    --fs-1lg: 56px;
    /* ======================== lineheight ======================== */
    --lh-24: 24px;
    --lh-76: 76.8px;
    --lh-70: 70.4px;
    --lh-57: 57.6px;
    --lh-25: 25.2px;
  }
}
@media (min-width: 768px) {
  .max-w-584 {
    max-width: 584px;
  }
  .sliderimg-card {
    height: 527px;
    margin-top: 59px;
  }
  .section-between-padding {
    padding-top: 150px;
  }
  :root {
    /* ======================== fontsize ======================== */
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 48px;
    --fs-1lg: 64px;
    /* ======================== lineheight ======================== */
    --lh-24: 24px;
    --lh-76: 76.8px;
    --lh-70: 70.4px;
    --lh-57: 57.6px;
    --lh-25: 25.2px;
  }
}
@media (min-width:1400px) and (max-width:1600px) {
  .container{
    max-width: 1140px !important;
  }
}
@media (max-width: 991.9px) {
  .mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0%;
    min-height: 100vh;
    left: 0;
    width: 100%;
background-color: #FFF;
    z-index: 11;
    transition: all 300ms linear !important;
  }
  .herobg::after{
    position: absolute;
    content:"" ;
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.227);
    z-index: 1;
  }
  .overflow_hidden {
    overflow: hidden;
  }
  .nav-false {
    opacity: 0;
    transform: scale(0.5) translateX(-100%);
  }
  .nav-true {
    opacity: 1;
    transform: scale(1) translateX(0%);
  }
  body.overflow_hidden {
    overflow: hidden;
  }

  .z-11 {
    z-index: 11;
  }
}
